/* 首页样式 */
.home{
    width: 100%;
}
body{
    background-color: #fff;
}
/* banner */
.banner{
    width: 6.8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 1.88rem;
    background: url(http://tdream.antit.top/image/banner.png) no-repeat;
    background-size: 6.8rem 1.88rem;
}
.home .male_screen{
    overflow: hidden;
    width: 6.8rem;
    margin: 0 auto;
    height: 0.68rem;
    line-height: 0.68rem;
    border-radius: 0.10rem;
    margin-bottom: 0.20rem;
    box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1),-0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1),0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1),0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
}
.home .male_screen .tip{
    font-size: 0.26rem;
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 0.68rem;
    color:#666;
    text-align: center;
    display: none;
}
.home .male_screen .info{
    width: calc(100% - 0.4rem);
    margin: 0 auto;
    overflow: hidden;
    line-height: 0.68rem;
}
.home .male_screen .logo{
    float: left;
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 50%;
    background-image: url(http://tdream.antit.top/image/avatar.png);
    background-repeat: no-repeat;
    background-size: 0.48rem 0.48rem;
    margin-top: 0.1rem;
    margin-right: 0.1rem;
    vertical-align: middle;
}
.home .male_screen .username{
    font-size: 0.26rem;
    float: left;
}
.home .male_screen .male_tip{
    font-size: 0.26rem;
    float: right;
}
/* 梦想池 */
.home .help{
    width: 6.80rem;
    min-height: 1.50rem;
    margin: 0 auto;
    border-radius: 0.10rem;
    box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1),-0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1),0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1),0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
}
.home .help .title{
    font-size: 0.32rem;
    margin-left:0.30rem;
    padding-top: 0.30rem;
}
.home .help .progress{
    width: 3.80rem;
    height: 3.80rem;
    margin: 0.50rem auto 0;
    position: relative;
}
.home .help .progress canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%,-50%);
}
.home .help .progress .dreamInfo{
    font-size: 0.28rem;
    position: absolute;
    top: 1.05rem;
    left: 50%;
    transform: translateX(-50%);
}
.home .help .progress .dreamInfo .time{
    font-size: 0.28rem;
    color: #00d094;
    text-align: center;
}
.home .help .progress .dreamInfo .time .icon_clock{
    background: url(http://tdream.antit.top/image/clock.png) no-repeat;
    display: inline-block;
    width: 0.23rem;
    height: 0.23rem;
    background-size: 0.23rem 0.23rem;
    vertical-align: middle;
}
.home .help .progress .dreamInfo .money_number{
    font-size: 0.52rem;
    color: #ffc057;
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.home .help .progress .dreamInfo .tip_mes{
    font-size: 0.24rem;
    color:#999;
    text-align: center;
}
.home .help .targetAndprice{
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    overflow: hidden;
}
.home .help .targetAndprice .left{
    float: left;
    text-align: center;
}
.home .help .targetAndprice .number{
    font-size: 0.38rem;
    color: #ffc057;
    margin-bottom: 0.1rem;
}
.home .help .targetAndprice .text{
    font-size: 0.24rem;
    color: #999;
}
.home .help .targetAndprice .right{
    float: right;
    text-align: right;
}
.home .help .join{
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.34rem;
    height: 0.78rem;
    border-radius: 0.39rem;
    background: #00d094;
    color: #fff;
    font-size: 0.42rem;
    margin-bottom: 0.1rem;
    border: none;
    left: 50%;
    margin-left: 0.4rem;
}
.home .help .tip_msg{
    text-align: center;
    font-size: 0.2rem;
    color: #999;
    padding: 0 0 0.2rem 0;
}
.home .lucky{
    text-align: right;
    width: 6.8rem;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.home .lucky a{
    font-size: 0.3rem;
    color: #595959;
    text-decoration: underline;
}
.home .rules{
    width: 6.3rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    position: relative;
}
.home .rules .title{
    width: 100%;
    font-size: 0.32rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.home .rules .title p{
    float: left;
    text-align: center;
    margin-left: 2rem;
    color: #00d094;
}
.home .rules .title .circle{
    width: 0.1rem;
    height: 0.1rem;
    background-color: #00d094;
    border-radius: 50%;
    position: absolute;
}
.home .rules .title .circle.left{
    left: 1.76rem;
    top: 0.18rem
}
.home .rules .title .circle.right{
    right: 1.76rem;
    top: 0.18rem
}
.home .rules .title .line{
    width: 1.76rem;
    height: 0.02rem;
    position: relative;
    top: 0.22rem;
}
.home .rules .title .line.left{
    background: linear-gradient(to right, white , #00d094);
}
.home .rules .title .line.right{
    float:right;
    background: linear-gradient(to right, #00d094 , white);
}
/* 规则--样式处理 */
.home .steps{
    position: relative;
    top: 0.60rem;
    height: 0.93rem;
    margin: 0 auto;
}
.home .steps div.step{
    float: left;
    text-align: center;
}
.home .steps div.step .icon{
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    background-size: 0.38rem 0.38rem;
    margin: 0 auto;
}
.home .steps div.icon_one{
    background-image: url(http://tdream.antit.top/image/active_index1.png);
}
.home .steps div.icon_two{
    background-image: url(http://tdream.antit.top/image/avtive_index2.png);
}
.home .steps div.icon_three{
    background-image: url(http://tdream.antit.top/image/avtive_index3.png);
}
.home .steps div.icon_four{
    background-image: url(http://tdream.antit.top/image/active_index4.png);
}
.home .steps div.step:last-child{
    float: right;
}
.home .steps .line{
    width: 0.70rem;
    height: 0.02rem;
    float: left;
    background: #edf0f5;
    position: relative;
    top: 0.19rem; 
}
.home .steps .step .step_text{
   margin-top: 0.20rem;
   text-align: center;
   font-size: 0.26rem;
   color: #595959;
}
.home .rules_info{
    width: 100%;
    height: 3.82rem;
    background-color: #fafbfc;
    border-radius: 0.20rem;
    margin-top: 0.90rem;
}
.home .rules_info .info_msg{
    margin-left: 0.20rem;
    padding-top: 0.40rem;
}
.home .rules_info .info_msg .rules_box{
    margin-bottom: 0.24rem;
    width: 100%;
}
.home .rules_info .info_msg div div{
    width: 0.36rem;
    height: 0.36rem;
    background-repeat: no-repeat;
    background-size: 0.36rem 0.36rem;
    border-radius: 50%; 
    margin-right: 0.30rem;
    display: inline-block;
    vertical-align: middle;
}
.home .rules_info .info_msg span{
    font-size: 0.24rem;
    color: #595959;
}
.home .rules_info .info_msg div div.icon_indexOne{
    background-image: url(http://tdream.antit.top/image/index1.png)
}
.home .rules_info .info_msg div div.icon_indexTwo{
    background-image: url(http://tdream.antit.top/image/index2.png)
}
.home .rules_info .info_msg div div.icon_indexThree{
    background-image: url(http://tdream.antit.top/image/index3.png)
}
.home .rules_info .info_msg div div.icon_indexFour{
    background-image: url(http://tdream.antit.top/image/index4.png)
}
.home .rules_info .info_msg .rules_box:nth-child(5){
    text-align: center;
    padding-bottom: 2rem;
    font-size: 0.28rem;
    margin-top: 0.30rem;
    line-height: 0.36rem;
}
.home .rules_info .info_msg .rules_box:nth-child(5) a{
    text-decoration: underline;
    color: #595959;
}
.home .footer{
    height: 1.28rem;
    border-top:1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}
.home .footer ul li{
    float: left;
    width: 2.50rem;
    text-align: center;
    margin-top: 0.2rem;
}
.home .footer ul li a{
    color: #b2b2b2;
    font-size: 0.22rem;
}
/* .home .footer ul li p{
    margin-top: 0.1rem;
} */
.home .footer ul li .icon_home{
    display: inline-block;
    width: 0.38rem;
    height: 0.42rem;
    background: url(http://tdream.antit.top/image/nav_index_disable.png) no-repeat;
    background-size: 0.38rem 0.42rem; 
}
.home .footer ul li .icon_dream{
    display: inline-block;
    width: 0.38rem;
    height: 0.42rem;
    background: url(http://tdream.antit.top/image/nav_dream_disable.png) no-repeat;
    background-size: 0.38rem 0.42rem; 
}
.home .footer ul li .icon_user{
    display: inline-block;
    width: 0.38rem;
    height: 0.42rem;
    background: url(http://tdream.antit.top/image/nav_owner_disable.png) no-repeat;
    background-size: 0.38rem 0.42rem; 
}
.home .footer ul li.active a{
    color:#00d094;
}
.home .footer ul li.active .icon_home{
    background: url(http://tdream.antit.top/image/nav_index.png) no-repeat;
    background-size: 0.38rem 0.42rem; 
}
/* 通知图标 */
.icon_notice{
    width:1.90rem;
    height: 0.68rem;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    right: 0;
    top: 1.60rem;
    border-top-left-radius: 0.34rem;
    border-bottom-left-radius: 0.34rem;
    transform: translate(0,0);
}
.icon_notice.hide{
    transform: translate(1.10rem,0);
}
.icon_notice .left{
    width: 0.44rem;
    height: 0.50rem;
    background: url(http://tdream.antit.top/image/secretary.png) no-repeat;
    float: left;
    margin-left: 0.32rem;
    margin-top: 0.08rem;
    background-size: 0.44rem 0.50rem;
}
.icon_notice .right{
    float: right;
    margin-right: 0.32rem;
    background: url(http://tdream.antit.top/image/dialog.png) no-repeat;
    width: 0.46rem;
    height: 0.42rem;
    margin-top: 0.13rem;
    position: relative;
    background-size: 0.46rem 0.42rem;
}
.icon_notice .right .text{
    width: 0.18rem;
    height: 0.18rem;
    background: red;
    border-radius: 50%;
    font-size: 0.16rem;
    color: #fff;
    text-align: center;
    line-height: 0.18rem;
    position: absolute;
    right: -0.10rem;
    top: -0.03rem;
}
/* 弹窗 */
/* components/mask.wxss */
.mask{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 9;
}
.mask .bg{
    width: 6.59rem;
    height: 7.18rem;
    position: absolute;
    left: 0.06rem;
    transform: translateY(-50%);
    top: 50%;
}
.mask .bg img{
    width: 100%;
    height: auto;
}
.mask .bg .title{
    width: 100%;
    position: absolute;
    top: 1.58rem;
    left: 2.60rem;
    font-size: 0.56rem;
    color: #ffc057;
}
.mask .bg .mask_tip{
    position: absolute;
    top: 2.60rem;
    width: 5.00rem;
    white-space: normal;
    font-size: 0.32rem;
    color: #808080;
    left: 1.24rem;
    text-align: center;
    text-indent: 0.02em;
    line-height: 0.50rem;
}
.mask .bg .dream{
    border: none;
    background-color: #00d094;
    color: #fff;
    text-align: center;
    font-size: 0.38rem;
    width: 4.00rem;
    height: 0.88rem;
    line-height: 0.88rem;
    position: absolute;
    bottom: 0.62rem;
    left: 1.75rem;
    border-radius: 0.44rem;
}
/* 红包 */
.packmask{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: none;
    top: 0;
}
.packmask .bg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 7.47rem;
    width: 100%;
    background: url(https://tdream.antit.top/image/Red_Open.jpg) no-repeat;
    background-size: 7.5rem 7.47rem;
}
.packmask .bg .main{
    width: 100%;
    padding-top: 2.4rem;
}
.packmask .bg .headicon{
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 0.1rem;
    margin: 0 auto 0.1rem;
    background: url(https://tdream.antit.top/image/Red_avatar.jpg) no-repeat;
    background-size: 0.88rem 0.88rem;
}
.packmask .bg .main p{
    font-size: 0.3rem;
    color: #ffc057;
    margin-bottom: 0.3rem;
    text-align: center;
}
.packmask .bg .main p.msg{
    font-size: 0.36rem;
    margin-bottom: 0.6rem;
}