/* 问题详情样式表 */
body{
    background-color: #f0f0f0;
}
.question{
    background-color: #fff;
    margin-top: 0.38rem;
}
.question ul li{
    float: left;
    width: 3.4rem;
    background: #00d094;
    color: #fff;
}
.question ul li:nth-child(2){
    float: right;
}
.questionInfo{
    width: 6.90rem;
    margin: 0 auto;
}
.questionInfo .question_list{
    border-bottom: 0.02rem solid #ddd;
    padding-top: 0.30rem;
}
.questionInfo .title{
    font-size: 0.32rem;
    padding-bottom: 0.30rem;
}
.question_list .info{
    display: inline-block;
    text-indent: 2em;
    font-size: 0.26rem;
    color: #999;
    padding-bottom: 0.30rem;
}
.tip.question_list{
    width: 6.9rem;
    min-height: 5.48rem;
    margin: 0 auto;
    padding-top: 0.3rem;
    font-size: 0.32rem;
    position: relative;
    padding-bottom: 3rem;
}
.question_list img{
    width: 2.5rem;
    height: 2.48rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}