.record{
    width: 100%;
}
.header{
    width: 100%;
    height: 6rem;
    background-color: #f0f0f0;
    position: relative;
}
.header .top{
    width: 5.8rem;
    height: 0.9rem;
    margin: 0 auto;
    line-height: 0.9rem;
}
.header .top ul{
    width: 100%;
    height: 100%;
    color: #999;
    font-size: 0.3rem;
    text-align: center;
}
.header .top ul li:nth-child(1){
    width: 2.9rem;
    float: left;
}
.header .top ul li:nth-child(2){
    width: 2.9rem;
    float: right;
}
.header .top ul li.active span{
    display: inline-block;
    height: 100%;
    border-bottom: 1px solid #f25542;
    color:#f25542;
}
.header .top ul li.active{
    color: #f25542;
}
/* 头像处理 */
.header .headicon{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.4rem auto 0.5rem;
    background: red;
    background-size: 1.6rem 1.6rem;
}
.header .user .tip{
    font-size: 0.3rem;
    text-align: center;
}
.header .user p{
    /* margin-top: 0.3rem; */
    font-size: 1.2rem;
    text-align: center;
}
/* 列表部分处理 */
.content {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
.content .info{
    width: 6.9rem;
    margin: 0 auto;
    padding: 0.2rem 0;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}
.content .info .left{
    float: left;
}
.content .info .left .username{
    font-size: 0.36rem;
    margin-bottom: 0.2rem;
}
.content .info .left .time{
    color: #999;
    font-size: 0.26rem;
}
.content .info .right{
    float: right;
}
.content .info .right .coun{
    font-size: 0.36rem;
    margin-bottom: 0.14rem;
}
.content .info .right .f_count{
    font-size: 0.26rem;
    color: #999;
}