/* 互助规则样式表 */
/* 详细规则--样式处理 */
body{
    background-color: #edf0f5;
}
.rules{
    width: 100%;
    border-top: 0.02rem solid #d2d0cf;
}
.rules .rules_main{
    width: 100%;
}
.rules .rules_main .rules_info{
    width: 100%;
    background-color: #fff;
}
.rules .rules_main .rules_list{
    width: 7.10rem;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 0.26rem;
    font-size: 0.30rem;
    padding-bottom: 0.30rem;
}
.rules .rules_main .rules_info .icon{
    width: 0.36rem;
    height: 0.36rem;
    background-size: 0.36rem 0.36rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 0.10rem; 
    display: inline-block;
    vertical-align: bottom;
}
.rules .rules_main .rules_info .icon_index1{
    background-image: url(http://tdream.antit.top/image/active_index1.png);
}
.rules .rules_main .rules_info .icon_index2{
    background-image: url(http://tdream.antit.top/image/avtive_index2.png);
}
.rules .rules_main .rules_info .icon_index3{
    background-image: url(http://tdream.antit.top/image/avtive_index3.png);
}
.rules .rules_main .rules_info .icon_index4{
    background-image: url(http://tdream.antit.top/image/active_index4.png);
}
.rules .rules_main .rules_info .rules_message{
    color: #999;
    width: 6.18rem;
    margin: 0.20rem auto 0;
    font-size: 0.28rem;
}
.rules .rules_main .rules_info .line{
     width: 100%;
     background-color: #edf0f5;
     height: 0.20rem;
}
.rules .rules_main .rules_info .rules_list .subtitle{
    font-size: 0.30rem;
    color: #000;
    padding-top: 0.50rem;
}
.rules .rules_main .rules_info .rules_list .steps{
    padding-top: 0.45rem;
}