.warp{
    width: 95%;
    margin: 0.2rem auto;
    background-color: #fff;
    /* border: 1px solid #b2b2b2; */
}
.warp .banner{
    width: 95%;
    margin: 0.2rem auto;
    height: 3.86rem;
    background: url(https://tdream.antit.top/image/trade_ybshj.jpg) no-repeat;
    background-size: 100% 3.86rem;
}
 .warp .content {
     width: 95%;
     margin: 0 auto;
 }
 .warp .content .info{
     margin: 0.2rem 0 0;
 }
 .warp .content .infotxt{
     width: 100%;
     font-size: 0.24rem;
 }
 .warp .content .info .title{
     font-size: 0.32rem;
     font-weight: bolder;
 }
 .warp .content .infotxt .f_title{
     font-size: 0.24rem;
     margin-top: 0.1rem;
     margin-bottom: 0.1rem;
 }
 .warp .content .infotxt .ctx{
     width: 100%;
     text-indent: 2em;
     color: #b2b2b2;
     margin-bottom: 0.1rem;
 }
 .warp .content .infotxt img{
     width: 100%;
     height: auto;
 }