.warp{
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #b2b2b2;
}
.warp .banner{
    width: 95%;
    margin: 0.2rem auto;
    height: 4.95rem;
    background: url(../img/WechatIMG77.jpeg) no-repeat;
    background-size: 100% 4.95rem;
}