.home .YB_help{
    width: 6.20rem;
    min-height: 1.50rem;
    margin: 0 auto;
    border-radius: 0.10rem;
    box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1),-0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1),0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1),0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
    margin-top: 0.2rem;
    /* background-color: #fff; */
}
.home .YB_help .YB_title{
    font-size: 0.32rem;
    margin-left:0.30rem;
    padding-top: 0.30rem;
}
.home .YB_help .progress{
    width: 3.80rem;
    height: 3.80rem;
    margin: 0.50rem auto 0;
    position: relative;
}
.home .YB_help .progress canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%,-50%);
}
.home .YB_help .progress .YB_pool{
    font-size: 0.28rem;
    position: absolute;
    top: 1.05rem;
    left: 50%;
    transform: translateX(-50%);
}
.home .YB_help .progress .YB_pool .YB_tbill{
    font-size: 0.52rem;
    color: #ffc057;
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.home .YB_help .progress .YB_pool .tip_mes{
    font-size: 0.24rem;
    color:#999;
    text-align: center;
}
.home .YB_help .YB_billInfo{
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    overflow: hidden;
}
.home .YB_help .YB_billInfo .left{
    float: left;
    text-align: center;
}
.home .YB_help .YB_billInfo .bill{
    font-size: 0.38rem;
    color: #ffc057;
    margin-bottom: 0.1rem;
}
.home .YB_help .YB_billInfo .text{
    font-size: 0.24rem;
    color: #999;
}
.home .YB_help .YB_billInfo .right{
    float: right;
    text-align: right;
}
.home .YB_help .YB_join{
    width: 6rem;
    margin: 0 auto;
    margin-top: 0.34rem;
    height: 0.78rem;
    border-radius: 0.39rem;
    background: #00d094;
    color: #fff;
    font-size: 0.42rem;
    margin-bottom: 0.1rem;
    border: none;
    left: 50%;
    margin-left: 0.1rem;
}
.home .YB_help .tip_msg{
    text-align: center;
    font-size: 0.19rem;
    color: #999;
    padding: 0 0 0.2rem 0;
}