.home .YB_help{
    width: 6.80rem;
    min-height: 1.50rem;
    margin: 0 auto;
    border-radius: 0.10rem;
    box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1),-0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1),0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1),0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
    margin-top: 0.2rem;
}