/* pages/mx_huzhu/mx_huzhu.wxss */
body{background:white}
.container{background:white;width: 90%;margin: 1rem auto;color: #333}
h2.title{
    text-align: center;
    margin-bottom: 29px;
    color: black;
}
p{
    font-size: 14px;
    color: #333;
    text-indent: 2em;
}
h3{
    margin: 20px 0;
    font-size: 14px;
}
ul,li{
    list-style: none;
    font-size: 14px;
    margin-bottom: 20px;
}
span{
    display: block;
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}