<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行动合约</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/list/list.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <div id="list">
        <div class="list">
            <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="load">
                <van-cell class="mt-20">
                   <div class="right" v-for="list in list">
                       <van-icon :name="list.url" class="icon"></van-icon>
                       <div class="btn">
                            <van-button round @click="get(list.cid,list.alrday,list.menday,list.misday)">查看打卡详情</van-button>
                       </div>
                   </div>
                </van-cell>
            </van-list>
            <!-- 弹窗 -->
            <van-popup v-model="isshow" class="info">
                <div class="main">
                    <div class="mt-80">
                        <p>21<span style="font-size:0.28rem">天</span></p>
                        <p style="font-size:0.28rem">本合约共累计打卡</p>
                    </div>
                    <div class="mt-95">
                        <van-col span="8">
                            <p class="txt">打卡</p>
                            <p class="num">1</p>
                        </van-col>
                        <van-col span="8">
                            <p class="txt">缺卡</p>
                            <p class="num">1</p>
                        </van-col>
                        <van-col span="8">
                            <p class="txt">补卡</p>
                            <p class="num">12</p>
                        </van-col>
                    </div>
                </div>
            </van-popup>
        </div>
    </div>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/list/list.js"></script>
</body>
</html>