<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/user/user.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="user">
        <div class="user">
            <div class="header">
                <van-row class="head_main">
                    <van-col span="18">
                        <div class="headicon" :style="headicon"></div>
                        <span class="nickname">{{selfinfo.nickname}}</span>
                    </van-col>
                    <van-col span="6">

                    </van-col>
                </van-row>
                <van-row class="info">
                    <van-col span="6" class="middle">
                        <p class="font-40">{{selfinfo == '' ? '--' : selfinfo.dayBuy}}</p>
                        <p class="font-24">今日参与</p>
                    </van-col>
                    <van-col span="6" class="middle">
                        <p class="font-40">{{selfinfo == '' ? '--' : selfinfo.totalJoin}}</p>
                        <p class="font-24">互助总数</p>
                    </van-col>
                    <van-col span="6" class="middle">
                        <p class="font-40">24</p>
                        <p class="font-24">打卡总数</p>
                    </van-col>
                    <van-col span="6" class="middle">
                        <p class="font-40">12</p>
                        <p class="font-24">连续打卡次数</p>
                    </van-col>
                </van-row>
            </div>
            <van-col span="24" class="model">
                <span></span>
                <h3 class="title">个人中心</h3>
            </van-col>
            <van-row type="flex" align="center" justify="center" class="userApp">
                <van-col span="8">
                    <a href="../myJoin/myJoin.html">
                        <div class="icon icon_join"></div>
                        <p class="tip">我的参与</p>
                    </a>
                </van-col>
                <van-col span="8" class="line">   
                    <a href="../dream/dream.html">
                        <div class="icon icon_dream"></div>
                        <p class="tip">小梦想</p>
                    </a>
                </van-col>
                <van-col span="8">
                    <a href="../clockIn/clockIn.html">
                        <div class="icon icon_clock"></div>
                        <p class="tip">行动打卡</p>
                    </a>
                </van-col>
            </van-row>
            <van-col span="24" class="model">
                <span></span>
                <h3 class="title">其他</h3>
            </van-col>
            <van-row type="flex" align="center" justify="center" class="userApp" style="margin:0;border-bottom:1px solid #eee">
                <van-col span="8">
                    <a href="../redpack/redpack.html">
                        <div class="icon icon_pack"></div>
                        <p class="tip">梦想红包</p>
                    </a>
                </van-col>
                <van-col span="8" class="line">
                    <a href="../phone/phone.html">
                        <div class="icon icon_phone"></div>
                        <p class="tip">手机号管理</p>
                    </a>        
                </van-col>
                <van-col span="8">
                    <a href="../auth/auth.html">
                        <div class="icon icon_auth"></div>
                        <p class="tip">实名认证</p>
                    </a>        
                </van-col>
            </van-row>
            <van-row type="flex" align="center" justify="center" class="userApp">
                <van-col span="8">
                    <a href="../notice/notice.html">
                        <div class="icon icon_notice" style="position:relative"><span class="noticeNum" :style="{dispaly:ncount == '' ? 'none' : 'inline-block'}">{{ncount == '' ? '' : ncount}}</span></div>
                        <p class="tip">系统通知</p> 
                    </a>        
                </van-col>
                
                <van-col span="8" class="line">
                    <a href="../cach/cach.html">
                        <div class="icon icon_cach"></div>
                        <p class="tip">联系客服</p>
                    </a>        
                </van-col>
                <van-col span="8">
                    <a href="../new/new.html">
                        <div class="icon icon_question"></div>
                        <p class="tip">新手指引</p>
                    </a>        
                </van-col>
            </van-row>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/user/user.js"></script>
</body>
</html>