<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/user/user.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="user">
        <div class="user">
            <div class="header">
                
            </div>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/user/user.js"></script>
</body>
</html>