<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>参与互助</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="css/index/index.less" />
    <script src="lib/less.js" ></script>
</head>
<body>
    <diV id="app">
        <div class="index">
            <!-- 首页 -->
            <div class="banner">
                <yd-slider autoplay="3000" class="swipe" pagination-active-color="#999">
                    <yd-slider-item>
                        <img src="http://tdream.antit.top/image/banner.png" alt="新手指引" title="新手指引">
                    </yd-slider-item>
                    <yd-slider-item>
                        <img src="https://tdream.antit.top/image/Red_SendPack.jpg" alt="梦想红包" title="梦想红包">
                    </yd-slider-item>
                </yd-slider>
            </div>
            <!-- 公屏 -->
            <div class="screen">
                <div class="screen_main">
                    <van-row>
                        <van-col span="12">
                            <div class="logo" :style="buyinfo.headStyle"></div>
                            <span>{{typeof buyinfo.nickname == 'undefined' ? '--' : buyinfo.nickname}}</span>
                        </van-col>
                        <van-col span="12" style="text-align:right">
                            <span>{{(typeof buyinfo.time == 'undefined' ? '--' : buyinfo.time) + '前买了'}}{{(typeof buyinfo.dcount == 'undefined' ? '--' : buyinfo.dcount) + '份'}}{{ buyinfo.ptype == 'TRADE' ? '小生意' : '小梦想' }}</span>
                        </van-col>
                    </van-row>
                </div>
            </div>
            <!-- 梦想池 -->
            <div class="mainpool">
                <van-tabs v-model="active" :swipeable="true" class="tab" line-width='25' line-height="1" color="#00d094" title-active-color="#00d094" title-inactive-color="#333">
                    <van-tab title="小梦想互助" @click="dream" class="dream tab_dream">
                        <div class="dream_main" @click.stop="dream">
                            <van-col span="24" class="title">{{mainpool.ptitle}}</van-col>
                            <van-col span="24">
                                <yd-progressbar :progress="progress1" class="progress1" trail-color="#ffc054" trail-width="6" style="text-align:center">
                                    <van-col span="24" style="font-size:0.28rem;color:#00d094">
                                        <van-icon name="clock-o"></van-icon>
                                        <span class="timeout">{{timeout}}</span>
                                    </van-col>
                                    <van-col span="24">
                                        <p style="font-size:0.6rem;color:#ffc054;margin: 0.3rem 0 0.2rem">{{mainpool == '' ? '--' : (mainpool.realBill + mainpool.realUnit)}}</p>
                                        <p style="font-size:0.24rem;color:#999">{{mainpool == '' ? '--' : mainpool.billHint}}</p>
                                    </van-col>
                                </yd-progressbar>
                            </van-col> 
                            <van-row style="width:6rem;margin:0 auto 0.34rem">
                                <van-col span="12">
                                    <p style="font-size:0.38rem;color:#ffc054">{{mainpool == '' ? '--' : (mainpool.rtbillValue + mainpool.rtbillUnit)}}</p>
                                    <p style="color:#999;font-size:0.24rem">互助目标</p>
                                </van-col>
                                <van-col style="text-align:right" span="12">
                                    <p style="font-size:0.38rem;color:#ffc054">{{mainpool == '' ? '--' : (mainpool.rubillValue + mainpool.rubillUnit)}}</p>
                                    <p style="color:#999;font-size:0.24rem">价格</p>
                                </van-col>
                            </van-row>
                            <van-row style="width:6rem;margin:0 auto 0.1rem">
                                <van-button class="join" type='primary' size="large" round @click.stop='join("dream")'>参与互助</van-button>
                            </van-row>
                            <van-col span="24" style="text-align:center;font-size:0.2rem;color:#999">
                                每个人支付少量互助金，从中随机产生1名幸运者获得累计互助金启动梦想！
                            </van-col>
                        </div>
                    </van-tab>
                    <van-tab title="小生意互助" class="trade tab_dream">
                        <div class="trade_main" @click.stop="tradeInfo">
                            <van-col span="24">
                                <div class="tradeimgUrl" :style="tradeStyle">
                                    <van-row style="text-indent:0.3rem;background:rgba(255,255,255,.5);height:0.7rem;line-height:0.7rem;font-size:0.30rem;">
                                        <van-col span="14">
                                            <p>{{ maintrade == '' ? '--' : maintrade.ptitle }}</p>
                                        </van-col>
                                        <van-col span="10" style="text-align:right">
                                            <p style="margin-right:0.3rem;color:#00d094;font-size:0.32rem">查看详情>></p>
                                        </van-col>
                                    </van-row>
                                </div>
                            </van-col>
                            <van-col span="24" style="text-align:center;margin-bottom:0.1rem">
                                <span style="font-size:0.24rem;color:#999">{{maintrade == '' ? '--' : maintrade.billHint}}</span>
                                <span style="font-size:0.48rem;color:#ffc054">{{maintrade == '' ? '--' : (maintrade.realBill + maintrade.realUnit)}}</span>
                            </van-col>
                            <van-col span="24" style="margin-bottom:0.1rem">
                                <yd-progressbar type="line" :progress="progress2" trail-width="4" trail-color="#ffc054" class="progress2"></yd-progressbar>
                            </van-col>
                            <van-row style="width:6rem;margin:0 auto">
                                <van-col span="12">
                                    <p style="font-size:0.38rem;color:#ffc054">{{maintrade == '' ? '--' : (maintrade.rtbillValue + maintrade.rtbillUnit)}}</p>
                                    <p style="font-size:0.24rem;color:#999">互助目标(不满不开)</p>
                                </van-col>
                                <van-col span="12" style="text-align:right">
                                    <p style="font-size:0.38rem;color:#ffc054">{{maintrade == '' ? '--' : (maintrade.rubillValue + maintrade.rubillUnit)}}</p>
                                    <p style="font-size:0.24rem;color:#999">价格</p>
                                </van-col>
                            </van-row>
                            <van-row style="width:6rem;margin:0.34rem auto 0.1rem">
                                <van-button type="primary" class="join" round size="large" @click.stop="join('trade')">参与互助</van-button>
                            </van-row>
                            <van-col span="24" style="text-align:center;color:#999;font-size:0.2rem">
                                每个人支付少量互助金，从中随机产生1名幸运者成为指定项目的免费获得者
                            </van-col>
                        </div>
                    </van-tab>
                </van-tabs>
            </div>
            <!-- 往期幸运者 -->
            <van-row style="width:6.8rem;margin:0.2rem auto 0;">
                <van-col span="24" style="text-align:right">
                    <a href="/html/luckyer/luckyer.html" style="text-decoration: underline">往期幸运者</a>
                </van-col>
            </van-row>
            <!-- 小梦想规则 -->
            <div class="bg" style="background:#fff;overflow: hidden;padding-bottom: 1.5rem">
                <div class="rules">
                    <van-col span="24" style="margin-bottom:0.6rem">
                        <div class="title">
                            <div class="line left"></div>
                            <div class="circle left"></div>
                            <p>小梦想互助规则</p>
                            <div class="circle right"></div>
                            <div class="line right"></div>
                        </div>
                    </van-col>
                    <div class="main">
                        <van-row>
                            <van-col span="4" class="steps">
                                <van-icon name="http://tdream.antit.top/image/active_index1.png" class="icon"></van-icon>
                                <p class="tip">多人互助</p>
                            </van-col>
                            <van-col span="2" style="border-bottom:1px solid #eee" class="line"></van-col>
                            <van-col span="5" class="steps">
                                <van-icon name="http://tdream.antit.top/image/avtive_index2.png" class="icon"></van-icon>
                                <p class="tip">1人幸运</p>
                            </van-col>
                            <van-col span="2" style="border-bottom:1px solid #eee" class="line"></van-col>
                            <van-col span="5" class="steps">
                                <van-icon name="http://tdream.antit.top/image/avtive_index3.png" class="icon"></van-icon>
                                <p class="tip">启动梦想</p>
                            </van-col>
                            <van-col span="2" style="border-bottom:1px solid #eee" class="line"></van-col>
                            <van-col span="4" class="steps">
                                <van-icon name="http://tdream.antit.top/image/active_index4.png" class="icon"></van-icon>
                                <p class="tip">梦想报道</p>
                            </van-col>
                        </van-row>
                        <van-col span="24" style="margin-top:0.3rem;height:3.82rem;background: #fafbfc">
                            <van-col span="24" class="rule">
                                <van-icon name="http://tdream.antit.top/image/index1.png"></van-icon>
                                <span>多人互助 — — 参与互助每个人支付少量互助金</span>
                            </van-col>
                            <van-col span="24" class="rule">
                                <van-icon name="http://tdream.antit.top/image/index2.png"></van-icon>
                                <span>1人幸运 — — 公平随机产生1名幸运者</span>
                            </van-col>
                            <van-col span="24" class="rule">
                                <van-icon name="http://tdream.antit.top/image/index3.png"></van-icon>
                                <span>启动梦想 — — 幸运者得到累计互助金启动梦想</span>
                            </van-col>
                            <van-col span="24" class="rule">
                                <van-icon name="http://tdream.antit.top/image/index4.png"></van-icon>
                                <span>梦想报道 — — 梦想执行跟踪报道</span>
                            </van-col>
                            <van-col span="24" class="rule" style="text-align:center;margin:0">
                                <span style="text-decoration: underline" @click="rules">了解更多</span>
                            </van-col>
                        </van-col>
                    </div>
                </div>
            </div>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
            <img src="http://tdream.antit.top/image/blankcrown.png" alt="" class="pop">
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="js/index/index.js"></script>
</body>
</html>