.index{
    width: 100%;
    .banner{
        margin: 0.2rem auto;
        width: 6.8rem;
        height: 1.86rem;
        border-radius: 0.1rem;
        .swipe{
            width: 100%;
            .van-swipe__indicators{
                bottom: 5px!important;
            }
            img{
                width: 6.8rem;
                height: 1.86rem;
            }
        } 
    }
}