.index{
    width: 100%;
    .banner{
        margin: 0.2rem auto;
        width: 6.8rem;
        height: 1.86rem;
        border-radius: 0.1rem;
        .swipe{
            border-radius: 0.1rem;
            width: 100%;
            .van-swipe__indicators{
                bottom: 5px!important;
            }
            img{
                width: 6.8rem;
                height: 1.86rem;
            }
        } 
    }
    // 公屏信息
    .screen{
        width: 6.8rem;
        overflow: hidden;
        margin: 0 auto;
        height: 0.68rem;
        line-height: 0.68rem;
        border-radius: 0.10rem;
        margin-bottom: 0.20rem;
        background: #fff;
        box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1), -0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1), 0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1), 0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
        .screen_main{
            width: 6.4rem;
            margin: 0 auto;
            font-size: 0.26rem;
            .logo{
                display: inline-block;
                width: 0.48rem;
                height: 0.48rem;
                border-radius: 0.24rem;
                position: relative;
                top: 0.1rem;
                background: url(http://thirdwx.qlogo.cn/mmopen/vi_32/PiajxSqBRaELNMOWpmBVxdBriaDWJbibLPK6vLTg6NsL9QYM4AlDWibl1EcE8zEibzqCvaw1YksQOuGUgnTWwWTsa0Q/132) no-repeat;
                background-size: 0.48rem 0.48rem;
            }
        }
    }
}