.list{
    width: 6.8rem;
    margin: 0 auto;
    .mt-20{
        margin-top: 0.2rem;
        height: 2.7rem;
        .right{
            float: right;
            .icon{
                font-size: 1.2rem;
                float: right;
            }
            .van-button{
                background: #00d094;
                color: #fff;
            }
        }
    }
}