.list{
    width: 6.8rem;
    margin: 0 auto;
    .mt-20{
        margin-top: 0.2rem;
        height: 2.54rem;
        background: url(https://tdream.antit.top/hylb21.png) no-repeat center center / 6.8rem 2.54rem;
        .right{
            float: right;
            .state{
                float: right;
                width: 1.2rem;
                height: 1.2rem;
                background: url(https://tdream.antit.top/unactive.png) no-repeat center center / 1.2rem 1.2rem;
                margin-bottom: 0.2;
            }
            .van-button{
                background: #00d094;
                color: #fff;
            }
        }
    }
}