.actionClock{
    width: 100%;
    .warp{
        padding-bottom: 1.2rem;
        width: 6.8rem;
        margin: 0 auto;
        .clock{
            border-radius: 0.1rem;
            height: 5.6rem;
            background: #fff;
            margin-top: 0.3rem;
        }
    }
}