html{
    width: 100%;
    background: #fff;
    height: 100%;
    body{
        width: 100%;
        height: 100%;
        background: #fff;
        .fill{
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: #fff;
            .top{
                width: 5.86rem;
                margin: 0.72rem auto 0;
                height: 2.19rem;
                background: url(https://tdream.antit.top/image/rightframe.png) no-repeat center center / 5.86rem 2.19rem;
            }
        }
    }
}