.pay{
    width: 100%;
    overflow: hidden;
    background: #fff;
    .pay_main{
        width: 5.9rem;
        margin: 0 auto;
        .title{
            margin-top: 0.3rem;
            font-size: 0.32rem;
            margin-bottom: 0.5rem;
        }
        .progress{
            width: 3.8rem;
            height: 3.8rem;
            margin: 0 auto;
        }
        .first{
            position: relative;
            top: 0.4rem;
            color: #999;
            font-size: 0.26rem;
        }
        .ord_main{
            position: relative;
            top: 0.4rem;
            .txt{
                font-size: 0.26rem;
                color: #999;
            }
        }
    }
}