.pay{
    width: 100%;
    overflow: hidden;
    background: #fff;
    .pay_main{
        width: 5.9rem;
        margin: 0 auto;
        .title{
            margin-top: 0.3rem;
            font-size: 0.32rem;
            margin-bottom: 0.5rem;
        }
        .progress{
            width: 3.8rem;
            height: 3.8rem;
            margin: 0 auto 0.4rem;
        }
        .first{
            height: 0.52rem;
            line-height: 0.52rem;
            .txt{
                font-size: 0.26rem;
                color: #999;
            }
        }
        .ord_main{
            margin-top: 0.4rem;
            height: 0.52rem;
            line-height: 0.52rem;
            .van-icon{
                font-size:0.52rem;
                color: #00d094;
            }
            .txt{
                font-size: 0.26rem;
                color: #999;
            }
        }
        .target .tbill{
            font-size: 0.38rem;
            color: #00d094;
        }
        .right{
            text-align: right;
        }
    }
}