html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .phone{
            width: 100%;
            background: #fff;
            height: 100%;
            .warp{
                width: 6.3rem;
                padding-top: 0.8rem;
                margin: 0 auto;
                h3{
                    text-align: center;
                    font-size: 0.36rem;
                    font-style: normal;
                    margin-bottom: 0.2rem;
                }
                p{
                    font-size: 0.3rem;
                    color: #bababa;
                    text-align: center;
                }
            }
        }
    }
}