<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>补卡详情</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/fill/fill.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <div id="fill">
        <div class="fill">
            <div class="top">
                <p>当前剩余{{cardinfo == '' ? '--' : cardinfo.menchance}}次补卡机会</p>
            </div>
            <div class="middle">
                <p>成功补卡{{cardinfo == '' ? '--' : cardinfo.menday}}次还有{{info=='' ? '--' : info.misday}}次未打卡</p>
            </div>
            <div class="center">
                <p>点击右上角“...”立即分享今日打卡</p>
            </div>
            <div class="center_b">
                <p>赶紧转发今日的打卡到朋友圈吧，</p>
                <p>每成功影响一位好友成为行动派</p>
                <p>（支付参与行动合约）</p>
                <p>可以得到1次补卡机会哦！</p>
            </div>
            <div class="bottom-t">
                <van-col span="2">
                    <van-icon name="https://tdream.antit.top/image/rightarrow.png" class="icon"></van-icon>
                </van-col>
                <van-col span="20">
                    <p>
                        您已影响身边<span>{{headicons.length}}</span>位小伙伴成为追梦行动派
                    </p>
                </van-col>
                <van-col span="2">
                    <van-icon class="icon" name="https://tdream.antit.top/image/leftarrow.png"></van-icon>
                </van-col>
            </div>
            <div class="tip"></div>
            <div class="bottom" v-for="headicon in headicons">
                <van-icon :name="headicon" v-for="headicon in headicons" class="icon"></van-icon>
            </div>
        </div>
    </div>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/fill/fill.js"></script>
</body>
</html>