<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行动打卡</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/actionClock/actionClock.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="actionClock" style="overflow:hidden">
        <div class="actionClock">
            <div class="warp">
                <!-- 打卡进度 -->
                <van-col span="24" class="clock">
                    <van-col span="24">
                        <yd-progressbar :progress="progress1" trail-width="8" trail-color="#ffc054" class="progress">{{progress1 * 100}}%</yd-progressbar>
                    </van-col>
                    <!-- 打卡信息 -->
                    <van-col span="24" class="clockInfo">
                        <van-row>
                            <van-col span="8">
                                <p class="title day">{{day == '' ? '--' : day}}</p>
                                <p class="txt">距离目标天数</p>
                            </van-col>
                            <van-col span="8">
                                <p class="title continday">{{continday == '' ? '--' : continday}}</p>
                                <p class="txt">连续打卡天数</p>
                            </van-col>
                            <van-col span="8">
                                <p class="title clockday">{{clockday == '' ? '--' : clockday}}</p>
                                <p class="txt">已打卡天数</p>
                            </van-col>
                        </van-row>
                    </van-col>
                    <van-col span="24" class="btn">
                        <van-button @click="clock" class="clock_btn" round>一键打卡</van-button>
                    </van-col>
                </van-col>
                <van-col span="24" class="date">
                    <div class="warper">
                        <van-row class="date" style="width:5.88rem;margin:0 auto;padding: 0.38rem 0 0.5rem 0">
                            <van-col span="8" style="text-align:left;color:#999">
                                <van-icon name="arrow-left"></van-icon>
                            </van-col>
                            <van-col span="8" style="text-align:center">
                                <p style="font-size:0.36rem">{{currentMonth == '' ? '--' : currentMonth}}</p>
                            </van-col>
                            <van-col span="8" style="text-align:right;color:#999">
                                <van-icon name="arrow"></van-icon>
                            </van-col>
                        </van-row>
                        <div class="weekDate">
                            <ul class="title">
                                <li>{{week[0]}}</li>
                                <li>{{week[1]}}</li>
                                <li>{{week[2]}}</li>
                                <li>{{week[3]}}</li>
                                <li>{{week[4]}}</li>
                                <li>{{week[5]}}</li>
                                <li>{{week[6]}}</li>
                            </ul>
                            <ul class="day">
                                
                            </ul>
                        </div>
                    </div>
                </van-col>
            </div>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/actionClock/actionClock.js"></script>
</body>
</html>