.clockIn{
    width: 100%;
    .banner{
        width: 100%;
        height: 2.3rem;
        background: url('https://tdream.antit.top/ActiveContractBanner.jpg') no-repeat;
        background-size:7.5rem 2.3rem;
    }
    .screen{
        width: 6.8rem;
        margin: 0 auto;
        height: 0.84rem;
        line-height: 0.84rem;
        background: #fff;
        .circle{
            display: inline-block;
            font-size: 0.3rem;
            color: #000;
            margin-right: 0.2rem;
            vertical-align: middle;
        }
        .info{
            font-size: 0.26rem;
            color: #000;
        }
        .time{
            font-size: 0.26rem;
            color: #999;
        }
    }
}