.clockIn{
    width: 100%;
    .banner{
        width: 100%;
        height: 2.3rem;
        background: url('https://tdream.antit.top/ActiveContractBanner.jpg') no-repeat;
        background-size:7.5rem 2.3rem;
    }
    // 公屏
    .screen{
        width: 6.8rem;
        margin: 0 auto;
        height: 0.84rem;
        line-height: 0.84rem;
        background: #fff;
        .circle{
            display: inline-block;
            font-size: 0.4rem;
            color: #000;
            margin-right: 0.2rem;
            vertical-align: middle;
            font-weight: bolder;
        }
        .info{
            font-size: 0.26rem;
            color: #000;
        }
        .time{
            font-size: 0.26rem;
            color: #999;
        }
    }
    // 合约类型
    .contract{
        width: 100%;
        margin: 0.3rem auto;
        background: #fff;
        .main{
            width: 6.8rem;
            margin: 0 auto;
            padding-top: 0.3rem;
            .day-100{
                width: 100%;
                height: 2.8rem;
                background: url('https://tdream.antit.top/100DayContract.jpg') no-repeat;
                background-size: 6.8rem 2.8rem;
                margin-bottom: 0.2rem;
                .title{
                    padding-top: 0.3rem;
                    margin-left: 0.3rem;
                    font-size: 0.42rem;
                    margin-bottom: 0.2rem;
                    color: #9b500e;
                }
                .desc{
                    font-size: 0.26rem;
                    color: #9b500e;
                }
            }
            .day-21{
                width: 100%;
                height: 2.8rem;
                background: url('https://tdream.antit.top/21DayContract.jpg') no-repeat;
                background-size: 6.8rem 2.8rem;
                margin-bottom: 0.2rem;
            }
        }
    }
}