.clockIn{
    width: 100%;
    .banner{
        width: 100%;
        height: 2.3rem;
        background: url('https://tdream.antit.top/ActiveContractBanner.jpg') no-repeat;
        background-size:7.5rem 2.3rem;
    }
    // 公屏
    .screen{
        width: 6.8rem;
        margin: 0 auto;
        height: 0.84rem;
        line-height: 0.84rem;
        background: #fff;
        .circle{
            display: inline-block;
            font-size: 0.4rem;
            color: #000;
            margin-right: 0.2rem;
            vertical-align: middle;
            font-weight: bolder;
        }
        .info{
            font-size: 0.26rem;
            color: #000;
        }
        .time{
            font-size: 0.26rem;
            color: #999;
        }
    }
    // 合约类型
    .contract{
        width: 100%;
        margin: 0.3rem auto;
        background: #fff;
        .main{
            width: 6.8rem;
            margin: 0 auto;
            padding-top: 0.3rem;
            .day-100{
                width: 100%;
                height: 2.8rem;
                background: url('https://tdream.antit.top/100DayContract.jpg') no-repeat;
                background-size: 6.8rem 2.8rem;
                margin-bottom: 0.2rem;
            }
            .day-21{
                width: 100%;
                height: 2.8rem;
                background: url('https://tdream.antit.top/21DayContract.jpg') no-repeat;
                background-size: 6.8rem 2.8rem;
                margin-bottom: 0.2rem;
                text-align: right;
                .right{ 
                    margin-right: 0.3rem;
                    margin-left: 0;
                }
                .desc{
                    float: right;
                    text-align: left;
                }
            }
            .title{
                padding-top: 0.3rem;
                margin-left: 0.3rem;
                font-size: 0.42rem;
                margin-bottom: 0.1rem;
                color: #9b500e;
            }
            .desc{
                font-size: 0.26rem;
                color: #9b500e;
                margin-left: 0.3rem;
                line-height: 1.8;
                margin-bottom: 0.1rem;
            }
            .buy{
                margin-left: 0.3rem;
            }
        }
    }
    .model{
        width: 100%;
        margin-bottom: 0.2rem;;
        span{
            font-size: 0.28rem;
            color: #00d094;
            font-weight: bolder;
            display: inline-block;
            width: 0.06rem;
            height: 0.28rem;
            background: #00d094;
            margin-right: 0.1rem;
            vertical-align: middle;
        }
        .title{
            display: inline-block;
            font-size: 0.28rem;
        }
    }
    .feedback{
        width: 100%;
        padding-bottom: 1.2rem;
        margin-top: 0.3rem;
        .feed_main{
            width: 6.8rem;
            margin: 0 auto;
            height: 3.22rem;
            border-radius: 0.1rem;
            background: #fff;
            padding: 0.2rem;
            margin-bottom: 0.2rem;
            .head{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background: #000;
            }
            .type{
                font-size: 0.3rem;
                color: #4c4c4c;
                margin-bottom: 0.2rem;
            }
            .message{
                font-size: 0.26rem;
                color: #999;
            }
        }
    }
    .popup{
        width: 6.8rem;
        margin: 0 auto;
        .title_big{
            height: 0.88rem;
            line-height: 0.88rem;
            border-bottom: 1px solid #eee;
            .van-icon{
                font-size: 0.3rem;
                vertical-align: middle;
            }
            .title{
                font-size: 0.3rem;
                color: #000;
                margin-left: 1.92rem;
            }
        }
        .bill{
            padding-top: 0.54rem;
            text-align: center;
            .unit{
                font-size: 0.3rem;
                color: #000;
            }
            .bill_num{
                font-size: 0.5rem;
                color: #000;
            }
        }
        .tip{
            height: 0.54rem;
            border-radius: 0.27rem;
            line-height: 0.54rem;
            background: #f0f0f0;
            margin-top: 0.4rem;
            margin-bottom: 0.3rem;
            .tip_txt{
                width: 6.08rem;
                margin: 0 auto;
                font-size: 0.29rem;
                color: #999;
            }
        }
        .main_title{
            font-size: 0.3rem;
        }
        .clock_type{
            margin-bottom: 0.4rem;
            overflow: hidden;
            ul{
                width: 100%;
                li{
                    float: left;
                    width: 1.5rem;
                    height: 0.88rem;
                    line-height: 0.88rem;
                    margin-right: 0.2rem;
                    border-radius: 0.1rem;
                    background-color: #f0f0f0;
                    font-size: 0.26rem;
                    color: #999;
                    text-align: center;
                    margin-bottom: 0;
                }
                li.active{
                    color: #fff;
                    background: #00d094;
                }
            }
        }
        .warm{
            font-size: 0.3rem;
            color: #000;
            margin-bottom: 0.2rem;
        }
        .warm_txt{
            font-size: 0.26rem;
            color: #999;
        }
        .btn{
            margin-top: 1.8rem;
            text-align: center;
            padding-bottom: 0.55rem;
        }
    }
    // 支付取消弹窗
    .contrace{
        background: rgba(0,0,0,0);
        .paycancel{
            width: 5.8rem;
            height: 6.9rem;
            background: url(https://tdream.antit.top/image/contract.jpg) no-repeat center center / 5.8rem 6.9rem;
            .main{
              position: relative;  
              top: 2.65rem;
              width: 4.88rem;
              margin: 0 auto;
              .avatar{
                  position: absolute;
                  width: 1.38rem;
                  height: 1.38rem;
                  top: -0.69rem;
                  left: 50%;
                  transform: translateX(-50%);
                  border-radius: 50%;
                  background: url(https://tdream.antit.top/image/miniLogo.jpg) no-repeat center center / 1.38rem 1.38rem;
                  box-shadow: 0.02rem 0px 0.1rem 0.02rem rgba(0, 54, 208, .1), -0.02rem 0 0.1rem 0.02rem rgba(0, 54, 208, .1), 0 0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1), 0 -0.02rem 0.1rem 0.02rem rgba(0, 54, 208, .1);
              }
              .text{
                  width: 100%;
                  height: 2.4rem;
                  background: #fff;
                  border-radius: 0.1rem;
                  .container{
                      padding-top: 1.15rem;
                      text-align: center;
                      font-size: 0.36rem;
                      color: #666;
                      p{
                          margin-bottom: 0.1rem;
                      }
                  }
              }
            }
            .btn{
                width: 5.4rem;
                margin: 0 auto;
                height: 0.88rem;
                font-size: 0.36rem;
                div{
                    .van-button{
                        border:none;
                        width: 2.6rem;
                        height: 100%;
                        line-height: 0.88rem;
                        color: #4c4c4c;
                        border-radius: 0.44rem;
                        .againPay{
                            background: #00d094;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}