<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收支记录</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/payRecord/payRecord.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <div id="payrecord">
        <div class="record">
            <div class="main">
                <van-tabs v-model="active" swipeable color="#00d094" title-active-color="#00d094" @change="tabChange">
                    <!-- <van-tab title="全部" class="tab">
                        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onLoad">
                            <van-cell v-for="list in list">
                                <h3 class="title">{{list.title}}</h3>
                                <div class="pay right" style="color:red">-{{list.bill / 100}}</div>
                                <br>
                                <p>{{list.time}}</p>
                            </van-cell>
                        </van-list>
                    </van-tab> -->
                    <van-tab title="收入" class="tab">
                        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="onload">
                            <van-cell v-for="list in list">
                                <h3 class="title">{{list.title}}</h3>
                                <div class="pay right" style="color:#00d094">+{{list.bill / 100}}</div>
                                <br>
                                <p>{{list.time}}</p>
                            </van-cell>
                        </van-list>
                    </van-tab>
                    <van-tab title="支出" class="tab">
                        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="load">
                            <van-cell v-for="list in list">
                                <h3 class="title">{{list.title}}</h3>
                                <div class="pay right" style="color:red">-{{list.bill / 100}}</div>
                                <br>
                                <p>{{list.time}}</p>
                                <p class="right" style="float:right">订单号:{{list.oid}}</p>
                            </van-cell>
                        </van-list>
                    </van-tab>
                </van-tabs>
            </div>
        </div>
    </div>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/payRecord/payRecord.js"></script>
</body>
</html>