html,body,#share{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tip {
    position: absolute;
    bottom: 0.5rem;
    left: 0.3rem;
    color: #fff;
    font-size: 0.28rem;
    z-index: 6;
}
.btn{
    width: 1.64rem;
    height: 0.44rem;
    font-size: 0.26rem;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left:0.3rem;
    border-radius: 0.22rem;
    background: url(https://tdream.antit.top/view_details.png) no-repeat;
    background-size: 1.64rem 0.44rem;
}