.html{
    width: 100%;
    height: 100%;
    body{
        width: 100%;
        height: 100%;
        background: #fff;
        #payrecord{
            width: 100%;
            height: 100%;
            .record{
                width: 100%;
                height: 100%;
                background: #fff;
                .main{
                    width: 6.8rem;
                    margin: 0 auto;
                }
            }
        }
    }
}