<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小梦想</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/dream.css">
</head>
<body>
    <!-- 小梦想页面 -->
<!-- 
    dream:小梦想页面
    dream_main:小梦想主体内容
    dreamTab:梦想栏与幸运梦想栏切换按钮
    dream_list:已添加的梦想
    dream_info:梦想的信息展示
    dream_logo:梦想图片
    dream_right:梦想信息部分
    dream_msg:梦想名称
    createTime:创建时间及按钮
    *******************************
    此处为幸运梦想类名
    luckyDream：幸运梦想列表
 -->
    <div class='dream'>
    <!-- 当没有梦想的时候显示空 -->
        <div class='empty' style="display:none">
            <div class='empty_bg'></div>
        </div>
        <div class='dream_main' style="display:block">
            <div class='dreamTab'>
                <div class='dream_type'>
                    <ul>
                        <li class="active">小梦想</li>
                        <li>幸运梦想</li>
                    </ul>
                </div>
            </div>
            <div class='dream_list'>
                
            </div>
        </div>
        <script type="text/template" id="template">
            <div class='dream_info'>
                <div class='dream_logo'></div>
                <div class='dream_right'>
                    <div class='dream_msg'><%= title %></div>
                    <div class='createTime'>
                        <span class='time'><%= status %></span>
                        <button class='view' data-id="<%= did %>">查看详情</button>
                    </div>
                </div>
            </div>
        </script>
        <div class='add'></div>
        <div class="mask close">
            <div class="mask_main">
                <p>
                    <span>梦想标题<br></span>
                    <strong style="display:inline-block;margin-top:0.02rem;color:#999;font-size:0.26rem">梦想类型只支持：创业/投资/做生意</strong>
                    <input type="text" class="title" maxlength="20" placeholder="梦想标题（20字内）">
                </p>
                <p>
                    <span>梦想简介<br></span>
                    <textarea name="" id="" class="info" cols="30" rows="10" placeholder="梦想简介（140字内）" maxlength="140"></textarea>
                </p>
                <p class="area">
                        我承诺：<br>
                        我填写的梦想是本人真实的梦想，不存在任何虚构、隐瞒及伪造的情况，并会积极配合平台的审核和采访报道。如违背上述说明，愿意承担全部法律责任，并不能获得梦想互助金！
                </p>
                <p style="text-aligin:left">
                    <label>
                            <input type="checkbox" checked class="check">
                            同意并阅读<span style="color:#00d094" class="xieyi">《小梦想互助平台参与互助协议》</span>
                    </label>
                </p>
                <p>
                    <button class="submit">提 交</button>
                    <button class="off">取 消</button>
                </p>
            </div>
        </div>
        <div class="footer">
            <ul>
              <li>
                <a href="../index.html">
                  <i class="icon icon_home"></i>
                  <p class="text">参与互助</p>
                </a>
              </li>
              <li class="active">
                <a href="../html/dream.html">
                  <i class="icon icon_dream"></i>
                  <p class="text">小梦想</p>
                </a>
              </li>
              <li>
                <a href="../html/user.html">
                  <i class="icon icon_user"></i>
                  <p class="text">个人中心</p>
                </a>
              </li>
            </ul>
        </div>
    </div>
    <script src="../lib/jquery-1.12.3.min.js"></script>    
    <script src="../lib/rem.js"></script>
    <script src="../js/dream.js"></script>
	<script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="../lib/underscore-min.js"></script>
	<script>
		console.log(Options.GetUserInfo());
	</script>
</body>
</html>