<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <title>新手指引</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/question.css">
</head>
<body>
    <!--问题详情页面-->
<!-- 
    title：问题标题
    question_info:问题详细内容
 -->
    <div class='question'>
        <ul>
            <li>梦想互助</li>
            <li>行动打卡</li>
        </ul>
        <div class='questionInfo'>

        </div>
        <div class="question_list tip">
            <p>注：如您还有疑问，欢迎扫码加客服微信详细咨询 </p>
            <img src="https://tdream.antit.top/image/qrcode.jpg" alt="">
            <p style="text-align:center;color:#666;font-size:0.32rem;position:absolute;top:3.8rem;left:50%;transform:translateX(-50%)">长按识别二维码</p>
        </div>
    </div>
    <script id="template" type="text/template">
        <div class='question_list'>
            <div class='title'><%= question %></div>
            <span class='info'><%= text %></span>
        </div>
    </script>
    <script src="../lib/jquery-1.12.3.min.js"></script>
    <script src="../lib/underscore-min.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="../lib/rem.js"></script>
    <script src="../js/question.js"></script>
</body>
</html>