<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行动打卡</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/clockIn/clockIn.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="clockIn" style="overflow:hidden">
        <div class="clockIn">
            <!-- banner -->
            <van-col span="24">
                <div class="banner"></div>
            </van-col>
            <!-- screen公屏 -->
            <van-col span="24" style="background: #fff;margin-top:0.3rem">
                <div class="screen">
                    <span class="circle">·</span>
                    <span class="info">xxx支付xxx元合约</span>
                    <span class="time">刚刚</span>
                </div>
            </van-col>
            <!-- 合约类型 -->
            <van-col span="24" class="contract">
                <div class="main">
                    <van-col span="24">
                        <div class="day-100">
                            <h3 class="title">{{contracts == '' ? '--' : contracts[1].title}}</h3>
                            <p class="desc">
                                {{contracts == '' ? '--' : contracts[1].description}}
                            </p>
                            <van-button round size="small" type="primary" class="buy" @click="buy(contracts[1].cid)">立即购买</van-button>
                        </div>
                    </van-col>
                    <van-col span="24">
                        <div class="day-21">
                            <h3 class="title right">{{contracts == '' ? '--' : contracts[0].title}}</h3>
                            <p class="desc right">
                                {{contracts == '' ? '--' : contracts[0].description}}
                            </p>
                            <van-col span="24" style="text-align:right">
                                <van-button round size="small" class="buy right" type="primary" @click="buy(contracts[0].cid)">立即购买</van-button>
                            </van-col>
                        </div>
                    </van-col>
                </div>
            </van-col>
            <!-- 用户反馈 -->
            <van-col class="model" style="width:6.8rem;margin:0 0 0 0.3rem">
                <span></span>
                <h3 class="title">用户反馈</h3>
            </van-col>
            <van-col span="24" class="feedback">
                <van-row class="feed_main">
                    <van-col span="5">
                        <div class="head"></div>
                    </van-col>
                    <van-col span="19">
                        <h3 class="type">公司白领 <span class="nickname">瑞丽</span></h3>
                        <p class="message">
                            说出来挺不好意思的，春节前和一位男士相亲，还没与对方见面，就被推辞了，据说理由是对方看我照片觉得我有点胖，话说我还是专门p了一下的，这下可真是受打击了
                        </p>
                    </van-col>
                </van-row>
                <van-row class="feed_main">
                    <van-col span="5">
                        <div class="head"></div>
                    </van-col>
                    <van-col span="19">
                        <h3 class="type">公司白领 <span class="nickname">瑞丽</span></h3>
                        <p class="message">
                            说出来挺不好意思的，春节前和一位男士相亲，还没与对方见面，就被推辞了，据说理由是对方看我照片觉得我有点胖，话说我还是专门p了一下的，这下可真是受打击了
                        </p>
                    </van-col>
                </van-row>
            </van-col>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
            <!-- 弹出层 -->
            <van-popup v-model="show" position="bottom" :overlay="true">
                <div class="popup">
                    <van-col span="24" class="title_big">
                        <van-icon name="cross" @click="close"></van-icon>
                        <span class="title">{{title == '' ? '--' : title}}</span>
                    </van-col>
                    <van-col span='24' class="bill">
                        <span class="unit">￥</span>
                        <span class="bill_num">{{price == '' ? '--' : price}}</span>
                    </van-col>
                    <van-col span="24" class="tip">
                        <p class="tip_txt">支付{{desc == '' ? '--' : desc}}</p>
                    </van-col>
                    <van-col span="24" class="main_title">
                        <p class="main_tit_txt">选择行动主题:</p>
                    </van-col>
                    <van-col span="24" class="clock_type">
                        <ul>
                            <li v-for="(contract,index) in contractType" class="contract" :class="index == status ? 'active' : ''" @click.stop="conType(index,contract.check,contract.title)">
                                <van-icon :name="index == status ? contract.active : contract.normal"></van-icon>
                                <span class="cont_title">{{contractType == '' ? '--' : contract.title}}</span>
                            </li>
                            <li class="contract" style="width:100%" :class="status == 12 ? 'active' : ''" @click="conType(12)">
                                <van-icon :name="status == 12 ? 'https://tdream.antit.top/5drinkingIA.png' : 'https://tdream.antit.top/5drinkingIU.png'"></van-icon>
                                <span class="cont_title">{{status == 12 ? custom : '其他'}}</span>
                            </li>
                        </ul>
                        <van-dialog
                        v-model="isshow"
                        title="自定义主题(8字以内)"
                        show-cancel-button
                        @confirm="confirm"
                        @cancel="cancel"
                        >
                            <van-field v-model="value" id="theme" placeholder="请输入主题" />
                        </van-dialog>
                    </van-col>
                    <van-col span="24" class="warm">
                        <p class="warning">注意事项:</p>
                    </van-col>
                    <van-col span="24">
                        {{}}
                    </van-col>
                    <van-col span="24" class="btn">
                        <van-button type="primary" round size="normal" @click="pay(cid)">立即支付</van-button>
                    </van-col>
                </div>
            </van-popup>
            <!-- 弹出层 -->
            <van-popup v-model="payCancel" class="contrace">
                <div class="paycancel">
                    <div class="main">
                        <div class="avatar"></div>
                        <div class="text">
                            <div class="container">
                                <p>寻梦导师</p>
                                <p>追梦行动达人</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <div class="left">
                            <van-button round class="callMe" @click="callMe">和她聊聊</van-button>
                        </div>
                        <div class="right">
                            <van-button round class="againPay" @click="againPay">重新支付</van-button>
                        </div>
                    </div>
                </div>
                <div class="icon" style="text-align:center;font-size:0.88rem;margin-top: 0.6rem">
                    <van-icon name="https://tdream.antit.top/DaKaOKX.png" @click="payCancel = false"></van-icon>
                </div>
            </van-popup>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/clockIn/clockIn.js"></script>
</body>
</html>