<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行动打卡</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/clockIn/clockIn.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="clockIn" style="overflow:hidden">
        <div class="clockIn">
            <!-- banner -->
            <van-col span="24">
                <div class="banner"></div>
            </van-col>
            <!-- screen公屏 -->
            <van-col span="24" style="background: #fff;margin-top:0.3rem">
                <div class="screen">
                    <span class="circle">·</span>
                    <span class="info">xxx支付xxx元合约</span>
                    <span class="time">刚刚</span>
                </div>
            </van-col>
            <!-- 合约类型 -->
            <van-col span="24" class="contract">
                <div class="main">
                    <van-col span="24">
                        <div class="day-100">
                            <h3 class="title">100天行动合约</h3>
                            <p class="desc">
                                合约金99元，每天打卡并转发朋<br/>友圈，坚持100天返还200元
                            </p>
                            <van-button round size="small" type="primary" class="buy" @click="buy(100)">立即购买</van-button>
                        </div>
                    </van-col>
                    <van-col span="24">
                        <div class="day-21">
                            <h3 class="title right">21天行动合约</h3>
                            <p class="desc right">
                                合约金98元，每天打<br />卡,坚持21天返还98元
                            </p>
                            <van-col span="24" style="text-align:right">
                                <van-button round size="small" class="buy right" type="primary" @click="buy(21)">立即购买</van-button>
                            </van-col>
                        </div>
                    </van-col>
                </div>
            </van-col>
            <!-- 用户反馈 -->
            <van-col class="model" style="width:6.8rem;margin:0 0 0 0.3rem">
                <span></span>
                <h3 class="title">用户反馈</h3>
            </van-col>
            <van-col span="24" class="feedback">
                <van-row class="feed_main">
                    <van-col span="5">
                        <div class="head"></div>
                    </van-col>
                    <van-col span="19">
                        <h3 class="type">公司白领 <span class="nickname">瑞丽</span></h3>
                        <p class="message">
                            说出来挺不好意思的，春节前和一位男士相亲，还没与对方见面，就被推辞了，据说理由是对方看我照片觉得我有点胖，话说我还是专门p了一下的，这下可真是受打击了
                        </p>
                    </van-col>
                </van-row>
                <van-row class="feed_main">
                    <van-col span="5">
                        <div class="head"></div>
                    </van-col>
                    <van-col span="19">
                        <h3 class="type">公司白领 <span class="nickname">瑞丽</span></h3>
                        <p class="message">
                            说出来挺不好意思的，春节前和一位男士相亲，还没与对方见面，就被推辞了，据说理由是对方看我照片觉得我有点胖，话说我还是专门p了一下的，这下可真是受打击了
                        </p>
                    </van-col>
                </van-row>
            </van-col>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
            <!-- 弹出层 -->
            <van-popup v-model="show" position="bottom" :overlay="true">
                <div class="popup">
                    <van-col span="24" class="title_big">
                        <van-icon name="cross"></van-icon>
                        <span class="title">追梦行动21天合约</span>
                    </van-col>
                    <van-col span='24' class="bill">
                        <span class="unit">￥</span>
                        <span class="bill_num">98</span>
                    </van-col>
                    <van-col span="24" class="tip">
                        <p class="tip_txt">支付合约金98元，坚持打卡21天返还，98元。</p>
                    </van-col>
                    <van-col span="24" class="main_title">
                        <p class="main_tit_txt">选择行动主题(多选):</p>
                    </van-col>
                    <van-col span="24" class="clock_type">
                        <ul>
                            <li v-for="(contract,index) in contractType" class="contract" :class="contract.check == true ? 'active' : ''" @click="conType(contract.title,index)">
                                <van-icon :name="contract.check == true ? contract.active : contract.normal"></van-icon>
                                <span class="cont_title">{{contract.title}}</span>
                            </li>
                        </ul>
                    </van-col>
                    <van-col span="24" class="warm">
                        <p class="warning">注意事项:</p>
                    </van-col>
                    <van-col span="24">
                        <p class="warm_txt">
                            1.返现机制：每天完成打卡返现1元，连续完成打卡21天后再返77元，打卡中断则停止返现！
                        </p>
                        <p class="warm_txt">
                            2.打卡时间：北京时间24点前进入平台点击”打卡“有效；从支付后第二天开始计算。
                        </p>
                    </van-col>
                </div>
            </van-popup>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/clockIn/clockIn.js"></script>
</body>
</html>