<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>行动打卡</title>
    <link rel="stylesheet" href="http://tinydream.antit.top/TinydreamWeb/css/public.css">
    <link rel="stylesheet" href="//unpkg.com/vue-ydui/dist/ydui.rem.css">
    <script src="//unpkg.com/vue-ydui/dist/ydui.flexible.js"></script>
    <link rel="stylesheet" href="../../lib/vant.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/clockIn/clockIn.less" />
    <script src="../../lib/less.js" ></script>
</head>
<body>
    <diV id="clockIn" style="overflow:hidden">
        <div class="clockIn">
            <!-- banner -->
            <van-col span="24">
                <div class="banner"></div>
            </van-col>
            <!-- screen公屏 -->
            <van-col span="24" style="background: #fff;margin-top:0.3rem">
                <div class="screen">
                    <span class="circle">·</span>
                    <span class="info">xxx支付xxx元合约</span>
                    <span class="time">刚刚</span>
                </div>
            </van-col>
            <!-- 合约类型 -->
            <van-col span="24" class="contract">
                <div class="main">
                    <van-col span="24">
                        <div class="day-100">
                            <h3 class="title">100天行动合约</h3>
                            <p class="desc">
                                合约金99元，每天打卡并转发朋<br/>友圈，坚持100天返还200元
                            </p>
                            <van-button round size="small" type="primary" class="buy">立即购买</van-button>
                        </div>
                    </van-col>
                    <van-col span="24">
                        <div class="day-21">
                            <h3 class="title right">21天行动合约</h3>
                            <p class="desc right">
                                合约金98元，每天打<br />卡,坚持21天返还98元
                            </p>
                            <van-col span="24" style="text-align:right">
                                <van-button round size="small" class="buy right" type="primary">立即购买</van-button>
                            </van-col>
                        </div>
                    </van-col>
                </div>
            </van-col>
            <!-- 用户反馈 -->
            <van-col class="model" style="width:6.8rem;margin:0 0 0 0.3rem">
                <span></span>
                <h3 class="title">用户反馈</h3>
            </van-col>
            <van-col span="24" class="feedback">
                <van-row class="feed_main">
                    <van-col span="8">
                        <div class="head"></div>
                    </van-col>
                    <van-col span="16"></van-col>
                </van-row>
            </van-col>
            <!-- tabbar -->
            <van-tabbar v-model="actives" active-color="#00d094">
                <van-tabbar-item v-for="tab in tabbar" :url="tab.url" :info="tab.info"> 
                    <span>{{tab.title}}</span>
                    <img slot-scope="props" slot="icon" :src="props.active ? tab.active : tab.normal">
                </van-tabbar-item>
            </van-tabbar>
        </div>
    </diV>

    <script src="http://tinydream.antit.top/TinydreamWeb/lib/jquery-1.12.3.min.js"></script>
    <script src="http://tinydream.antit.top/TinydreamWeb/lib/rem.js"></script>
    <script src="https://tinydream.antit.top/admin/js/lib.js"></script>
    <script src="https://tinydream.antit.top/admin/js/webApp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-ydui/dist/ydui.rem.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <script src="../../js/common/common.js"></script>
    <script src="../../js/clockIn/clockIn.js"></script>
</body>
</html>