<html>
 <head></head>
 <body>
  <div class="lucky_main"> 
   <div class="left"> 
    <img src="{{headicon}}" /> 
   </div> 
   <div class="middle"> 
    <div class="dream_name">
     小梦想互助{{pid}}期幸运者
    </div> 
    <div class="user_info"> 
     <div class="user_name">
      昵 称：{{nickname}}
     </div> 
     <div class="user_sex">
      梦 想：{{title}}
     </div> 
     <div class="user_age" style="display:{{useBill}}">
      金 额：{{abillValue}}{{abillUnit}}
     </div> 
    </div> 
   </div> 
   <div id="pool_{{pid}}" pid="{{pid}}" class="right"> 
    <div class="text_box"> 
     <div>
      查
     </div> 
     <div>
      看
     </div> 
     <div>
      详
     </div> 
     <div>
      情
     </div> 
    </div> 
   </div> 
  </div>
 </body>
</html>