<div id="poolinfo_{{pid}}" pid="{{pid}}" class='pool' >
	<div class='left'>
		<div class='title'>{{ptitle}}</div>
		<div class='timeout'>
			<div class='icon_clock'></div>
			<text>{{timeLess}}</text>
		</div>
		<div class='money'>{{realBill}}{{realUnit}}</div>
		<div class='tip'>{{billHint}}</div>
		<div class='price'>
			<div class='target'>互助目标 {{rtbillValue}}{{rtbillUnit}}</div>
			<div class='price_money'>价格 {{rubillValue}}{{rubillUnit}}/份</div>
		</div>
	</div>
	<div class='right'>
		<div class='above'>
			<div class='progress'>{{percentVal}}%</div>
		</div>
		<button id="btn_join" pid="{{pid}}" class='under'>参与互助</button>
	</div>
</div>